/* Navbar items 'base.html" */
.logoNav {
    padding-top: 5px;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);  
}

.brandName {
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
}

/* base.html .container styling */
.mainContent {
    margin-top: 50px
}

/* Filter button */
.filterButton {
    margin-top: 25px;
  }

.headers {
    margin-bottom: 0px;
}

/* Side menu CRUD operation pages */
.crudMenuItem {
    color: #C0C0C0;
    font-size: x-large;
    text-decoration: underline;
    text-decoration-color: #C0C0C0;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.chevronMenuItem {
    color: #C0C0C0;
    font-size: xx-large;
    opacity: 0.5;
    transition: 0.2s;
}

.chevronAlign {
    margin-left: 30px;
}

.crudMenuItem:hover {
    color: #37474f;
    font-weight: bold;
    text-decoration-color: #f9a825;
    opacity: 1;
}
.crudMenuItem:hover + .chevronMenuItem {
    color: #f9a825;
    font-weight: bold;
    opacity: 1;
}

.crudActive {
    color: #37474f;
    font-weight: bold;
    text-decoration-color: #f9a825;
    opacity: 1;
}

.chevronActive {
    color: #f9a825;
    font-weight: bold;
    opacity: 1;
}

/* Burger icon position on small screen sizes */
.burgerIcon {
    position: absolute;
    top: 70px;
}

.burgerIcon > p {
    position: relative;
    bottom: 42px;
    left: 30px;
}