{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s4">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-med-and-up burgerIcon"><i class="material-icons">menu</i><p>Create Recipe</p></a>
      <ul class="crudMenu hide-on-small-only">
          <li><a href="{{ url_for('my_recipes') }}" class="crudMenuItem">My Recipes</a><span class="right-align chevronMenuItem chevronAlign">></span></li>
          <li><a href="{{ url_for('create_recipe')}}" class="crudMenuItem">Create Recipe</a><span class="right-align chevronMenuItem">></span></li>
          <li><a href="#" class="crudMenuItem crudActive">Edit Recipe</a><span class="right-align chevronMenuItem chevronAlign chevronActive">></span></li>
      </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('my_recipes') }}" class="crudMenuItem">My Recipes</a></li>
        <li><a href="{{ url_for('create_recipe')}}" class="crudMenuItem crudActive">Create Recipe</a></li>
        <li><a href="#" class="crudMenuItem">Edit Recipe</a></li>
     </ul>
  
    <div class="col s12 m8">
      <form action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" method="POST">
        <input id="username" name="username" type="hidden" class="validate" value="{{ current_user.username }}">
        <div class="row">        
          <div class="input-field col s12">
            <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.title}}" required>
            <label for="recipe_name">RECIPE NAME</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select id="category" name="category_name" required>
              <option value="" disabled selected>Choose</option>
              {% for cat in categories %}
                {% if cat.name == recipe.category %}
              <option value="{{cat.name}}" selected>{{cat.name}}</option>
                {% else %}
              <option value="{{cat.name}}">{{cat.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label>CATEGORY</label>
          </div>
          <div class="input-field col s6">
            <select id="cuisine" name="cuisine_name" required>
              <option value="" disabled selected>Any</option>
              {% for cuisine in cuisines %}
                {% if cuisine.name == recipe.cuisine %}
              <option value="{{cuisine.name}}" selected>{{cuisine.name}}</option>
                {% else %}
              <option value="{{cuisine.name}}">{{cuisine.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label>CUISINE</label>
          </div>
        </div>
        <div class="row">        
          <div class="input-field col s12">
            <input id="image_url" name="image_url" type="text" class="validate" value="{{recipe.image_url}}" required>
            <label for="image_url">Image URL</label>
          </div>
        </div>
        <div class="row">        
          <div class="input-field col s12">
            <input id="description" name="description" type="text" class="validate" value="{{recipe.description}}" required>
            <label for="desciption">DESCRIPTION</label>
          </div>
        </div>
        <label for="ingredient1">INGREDIENTS</label>
        <div class="row">
          {% for ingredient in recipe.ingredients %}
          <div class="input-field col s3 ingredient{{loop.index}}">
            <input id="ingredient{{loop.index}}" name="ingredient{{loop.index}}" type="text" class="validate ingredient" value="{{ingredient}}" required>
          </div>
          {% endfor %}
          <div class="input-field col s2">
              <a class="btn-floating waves-effect waves-light" onclick="addIngredient()"><i class="material-icons">add</i></a>
              <a class="btn-floating waves-effect waves-light red" onclick="removeLastIngredient()"><i class="material-icons">delete</i></a>
           </div>
        </div>
        <label for="cooking_tool1">COOKING TOOLS</label>
        <div class="row">
          {% for tool in recipe.cooking_tools %}
          <div class="input-field col s3 cooking_tool{{loop.index}}">
            <input id="cooking_tool{{loop.index}}" name="{cooking_tool{{loop.index}}" type="text" class="validate cooking_tool" value="{{tool}}" required>    
          </div>
          {% endfor %}
          <div class="input-field col s2">
            <a class="btn-floating waves-effect waves-light" onclick="addTool()"><i class="material-icons">add</i></a>
            <a class="btn-floating waves-effect waves-light red" onclick="removeLastTool()"><i class="material-icons">delete</i></a>
          </div>
        </div>
        <label for="step1">STEPS</label>
        <div class="row">
          {% for step in recipe.steps %}
          <div class="input-field col s12 step{{loop.index}}">
            <span class="prefix">{{loop.index}}</span>
            <input id="step{{loop.index}}" name="step{{loop.index}}" type="text" class="validate" value="{{step}}" required>
          </div>
          {% endfor %}
          <div class="input-field col s12 center-align">
            <a class="btn-floating waves-effect waves-light" onclick="addStep()"><i class="material-icons">add</i></a>
            <a class="btn-floating waves-effect waves-light red" onclick="removeLastStep()"><i class="material-icons">delete</i></a>
          </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Update Recipe
              <i class="material-icons right">playlist_add</i>
            </button>
          </div>
      </form>
    </div>
</div>
{% endblock %}