{% extends 'base.html' %}
{% block content %}
<h4><i>Find Recipe</i></h4>
<!-- Materialize autocomplete dropdown -->
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">textsms</i>
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input">Autocomplete</label>
            </div>
        </div>
    </div>
</div>
<!-- Materialize fab card -->
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image">
                <img class="materialboxed" src="{{recipe.image_url}}" alt="recipe_image">
                <span class="card-title">
                    <strong class="blue-grey darken-3">{{recipe.title}}</strong>
                </span>
            </div>
            <div class="card-content">
                <p>{{recipe.description}}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"><strong>Recipe</strong></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}