{% extends 'base.html' %}
{% block content %}
<h4><i>Find Recipe</i></h4>
<!-- Materialize autocomplete dropdown -->
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">textsms</i>
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input">Autocomplete</label>
            </div>
        </div>
    </div>
</div>
<!-- Materialize fab card -->
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="static/media/0402-chef_48.png">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light yellow darken-3"><i class="material-icons">assignment</i></a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="static/media/0402-chef_48.png">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light yellow darken-3"><i class="material-icons">assignment</i></a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="static/media/0402-chef_48.png">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light yellow darken-3"><i class="material-icons">assignment</i></a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}