{% extends 'base.html' %}
{% block content %}
<div class="row center-align">
    <div class="col s12 m6 offset-m3">
        <h4>Login</h4>
        <p>To start creating your recipe now!</p>
    </div>
</div>
<form action="{{url_for('login')}}" method="POST" name="form">
    <div class="row">
        <!-- WTForm CSRF token -->
            {{ form.csrf_token() }}
        <div class="input-field col s12 m6 offset-m3">
            <i class="material-icons prefix">lock_outline</i>
            {{ form.username }}
            <label for="username">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            <i class="material-icons prefix">lock_outline</i>
            {{ form.password }}
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12 m6 offset-m3">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                LOGIN<i class="material-icons right">send</i>
            </button>

        </div>
    </div>
    <div class="row center-align">
            <div class="col s12 m6 offset-m3">
                <a href="#"><u>I dont't have an account > Register</u><a>              
            </div>
        </div>
</form>
{% endblock %}