{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s4">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-med-and-up burgerIcon"><i class="material-icons">menu</i><p>Create Recipe</p></a>
      <ul class="crudMenu hide-on-small-only">
          <li><a href="{{ url_for('my_recipes') }}" class="crudMenuItem crudActive">My Recipes</a><span class="right-align chevronMenuItem chevronAlign chevronActive">></span></li>
          <li><a href="{{ url_for('create_recipe')}}" class="crudMenuItem">Create Recipe</a><span class="right-align chevronMenuItem">></span></li>
          <li><a href="#" class="crudMenuItem">Edit Recipe</a><span class="right-align chevronMenuItem chevronAlign">></span></li>
      </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('my_recipes') }}" class="crudMenuItem">My Recipes</a></li>
        <li><a href="{{ url_for('create_recipe') }}" class="crudMenuItem crudActive">Create Recipe</a></li>
        <li><a href="#" class="crudMenuItem">Edit Recipe</a></li>
     </ul>
     {% if current_user.is_authenticated %}
     <h4 class="blue-grey-text text-darken-3">Recipes created by: <span class="yellow-text text-darken-3">{{ current_user.username }}</span></h4>
    {% endif %}
    <div class="col s12 m8">
        {% for recipe in recipes %}
        <div class="col s12 m4">
            <div class="card medium">
                <div class="card-image">
                    <img class="materialboxed" src="{{recipe.image_url}}" alt="recipe_image">
                    <span class="card-title">
                        <strong class="blue-grey darken-3">{{recipe.title}}</strong>
                    </span>
                </div>
                <div class="card-content">
                    <p>{{recipe.description}}</p>
                </div>
                <div class="card-action">
                    <a class="btn" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"><i class="material-icons">visibility</i></a>
                    <a class="btn yellow darken-3" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"><i class="material-icons">edit</i></a>
                    <a class="modal-trigger btn red" href="#{{recipe.title}}"><i class="material-icons">delete</i></a>
                </div>
                <div id="{{recipe.title}}" class="modal">
                    <div class="modal-content">
                        <h5>Are you sure you want to DELETE this recipe?</h5>
                        <h5>{{recipe.title}}</h5>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"" class="modal-close waves-effect waves-green btn-flat">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}