{% extends 'base.html' %}
{% block content %}
<!-- The Recipe View -->
<div class="row">
    <div class="card-panel">
        <div class="row valign-wrapper headers">
            <div class="col">
                <i class="medium material-icons blue-grey-text text-darken-3">restaurant</i>
            </div>
            <div class="col">            
                <h3 class="yellow-text text-darken-3"><strong>{{recipe.title}}</strong></h3>
            </div>
        </div>
        <div class="card-panel blue-grey darken-3">
            <div class="row headers center-align">
                <div class="col s4">
                    <span class="white-text"><strong>CHEF</strong></span>
                </div>
                <div class="col s4">
                    <span class="white-text"><strong>CATEGORY</strong></span> 
                </div>
                <div class="col s4">
                    <span class="white-text"><strong>CUISINE</strong></span>
                </div>
            </div>
            <div class="row headers center-align">
                <div class="col s4">
                    <span class="white-text">{{recipe.display_name}}</span>
                </div>
                <div class="col s4">
                    <span class="white-text">{{recipe.category}}</span> 
                </div>
                <div class="col s4">
                    <span class="white-text">{{recipe.cuisine}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card-image">
                    <img class="materialboxed responsive-img" src="{{recipe.image_url}}" alt="recipe_image">
                </div>
            </div>
            <div class="col s12 m8">
                    <section class="">
                    <h5>Description:</h5>
                    <p>{{recipe.description}}</p>
                    </section>
                <div class="row">
                    <div class="col s12 m4">
                        <section>
                            <h6>Ingredients:</h6>
                            <ul>
                                {% for ingredient in recipe.ingredients %}
                                <li>{{ingredient}}</li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                    <div class="col s12 m4">
                        <section>
                            <h6>Cooking-Tools:</h6>
                            <ul class="">
                                {% for tool in recipe.cooking_tools %}
                                <li>{{tool}}</li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <section>
                        <h6>STEPS:</h6>
                        <ol class="">
                            {% for step in recipe.steps %}
                            <li>{{step}}</li>
                            {% endfor %}
                        </ol>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Start creating your recipe now!</h4>
        <div class="input-field col s3">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Enter a unique username</label>
                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i>
        </button>
    </div>
</div>
{% endblock %}