{% extends 'base.html' %}
{% block content %}
<div class="row center-align">
    <div class="col s12 m6 offset-m3">
        <h4>Login</h4>
        <p>To start creating your recipe now!</p>
    </div>
</div>
<div class="row center-align">
    <div class="col s12 m6 offset-m3">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span class="red-text"><strong>{{ message }}</strong></span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
</div>
<form action="{{url_for('register')}}" method="POST" name="form">
    <div class="row">
        <!-- WTForm CSRF token -->
            {{ form.csrf_token }}
        <div class="input-field col s12 m6 offset-m3">
            <i class="material-icons prefix">lock_outline</i>
            {{ form.username }}
            <label for="username">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            <i class="material-icons prefix">lock_outline</i>
            {{ form.display_name }}
            <label for="display_name">Display Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            <i class="material-icons prefix">lock_outline</i>
            {{ form.country }}
            <label for="country">Country</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            <i class="material-icons prefix">lock_outline</i>
            {{ form.password }}
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12 m6 offset-m3">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Register<i class="material-icons right">send</i>
            </button>

        </div>
    </div>
    <div class="row center-align">
        <div class="col s12 m6 offset-m3">
            <a href="{{ url_for('login') }}"><u>I already have an account > Login</u><a>              
        </div>
    </div>
</form>
{% endblock %}